.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: wheat;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: wheat;
    transition: 1s;
    color: black;
    border-radius: 5px;
}
.search-bar{
    background-color: black;
    line-height: 50px;

}
input{
    width: 50%;
    float: center;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid rgba(219, 243, 7, 0.753);
}